body {
    background-color: #fff;
    margin: 0;
    font-family: Helvetica;
    color: #2A2A2A;
}
h1 {
    font-size: 1.5em;
    color: #455D63;
}
p, ul {
    font-size: 1em;
    line-height: 1.75em;
}
code {
    font-size: 0.9em;
    background-color: #455D63;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
nav {
    padding-top: 15px;
    text-align: center;
}
nav ul {
    list-style: none;
    border: 2px #455D63 solid;
    height: 200px;
    padding: 0;
    overflow-y: auto;
}
nav ul li {
    border-top: 1px #455D63 solid;
}
nav h1 {
    margin-top: 0;
}
nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}
nav a:hover {
    color: white;
    background-color: #455D63;
}
#main-doc {
    padding: 5px 25px;
    text-align: justify;
}
.main-section div {
    padding-left: 30px;
}

@media only screen and (min-width: 1024px) {
    body {
        padding-left: 350px;
    }
    nav {
        box-sizing: border-box;
        width: 350px;
        position: fixed;
        top: 0;
        bottom:0;
        left: 0;
        border-right: 2px #455D63 solid;
    }
    nav ul {
        height: 100%;
        border: none;
    }
}

